// NavbarDrawer
#app-title {
  // font-family: 'Source Code Pro', monospace;
  // font-family: 'VT323', monospace;
  font-family: 'Cutive Mono', monospace;
}

#menu-appbar {
  width: 1000vw;
}

// Register
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}

.lang-selected {
  color: red;
}

