h3 {
  font-family: 'Cutive Mono', monospace;
  text-align: center;
}

.chat {
  padding: 20px;
  margin: 20px;

  .messages {
    margin: 5px 0;

    .speech-bubble {
      padding: 5px;
      width: 50%;
    }
  }
}

.chat-input {
  display: flex;
  justify-content: center;
  margin: 20px;

  input {
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10.5px;
    border-radius: 7px;
    border: 1px solid grey;
  }

  button {
    margin: 0 10px;
  }
}
// NavbarDrawer
#app-title {
  // font-family: 'Source Code Pro', monospace;
  // font-family: 'VT323', monospace;
  font-family: 'Cutive Mono', monospace;
}

// Register
.register, 
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}

// Buttons
button.language {
  font-family: Arial;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
}

button.register {
  font-family: Arial;
  font-size: 1em;
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 10px;
  color: white;
  background-color: rgba(12, 44, 150, 0.836);
}

.button.register:hover {
  background-color: white;
  text-decoration: none;
  box-shadow:0px 5px 5px rgba(0,0,0,0.2);
  transform : translateY(-1px);
} 

.lang-selected {
  color: red;
}

// Home

.home-main {
  height: 100vh;
  background-image: url(https://img5.goodfon.com/wallpaper/nbig/4/f6/markus-spiske-temporausch-by-markus-spiske-temporausch-mar-2.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

